{% extends "users/base.html" %}
{% load static %}


{% block content %}
<style>
    html{
        height: 100%;
        width: 100%;
    }
    body{
       
        height: 100%;
        width: 100%;
        padding: 0px;
        background:#f9f9f9;
/*prev f4f4f4 */
        overflow-x: hidden;
       font-family: 'Poppins', sans-serif;;
    }
    label{
        font-size: 11px;
        margin-bottom: 5px;
    }
    input{
        font-size: 20px;
    }

    @media only screen and (min-width: 761px) {
        #form_div{
           margin: 20px 20px 7px 20px;
           
        }

        #inner_form_section{
           
            background: #fff;
          
            border-radius: 10px;
            box-shadow: 0 1px 4px rgba(0,0,0,.05), 0 10px 30px rgba(0,0,0,.05);
          

        }
    }
    
    input{
        margin-bottom: 25px;
    }
</style>

    <div class="row" style="height: 100%;position: relative;padding: 0px;margin: 0px;">
        
        <div style="width: 400px;position: absolute;left: 50%;transform: translate(-50%,15%);">
            <div style="text-align: center;">
                <p style="font-weight: 900;font-size: 30px;font-family: 'Poppins', sans-serif;margin-top: 40px;margin-bottom: 20px;letter-spacing: 2px;">SKYGRAB</p>

            </div>
            <div id="inner_form_section" style="padding-top: 20px">
     

                    
                    <div id="form_div" >
                        <form method="POST" action="{% url 'details' %}" id="main_form" >
                            {% csrf_token %}
                            <label for="email">EMAIL</label>
                            <input name="email" type="email" class="form-control"  id="email" value="{{ request.user.email }}" style="font-size: 14px;    box-shadow: 0 2px 4px rgba(25,34,29,.05);" disabled>

                            <label for="otp">OTP</label>
                            <input name="otp" type="number" class="form-control" id="otp" placeholder="Enter OTP" style="font-size: 14px;    box-shadow: 0 2px 4px rgba(25,34,29,.05);">
                            
                           
                           <div style="text-align: center;">
                            <button class="btn btn-primary" name="verify_btn">Verify</button>

                            <a href="{% url 'verify' %}" style="text-decoration: none;display: block;margin-top: 25px;font-size: 14px;">Resend OTP</a>

                           </div>
                           
                            

                        </form>
                        
                    </div><br>
                    
                    
                    
            </div>
           
            

            
            
        </div>
        
    </div>
{% endblock content %}
{% block script_references %}
<!--swal-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
 
</script>
{% endblock script_references%}
