{% extends 'dashboard/main.html' %}
{% block content %}
<style>
    input ,select{
        margin-bottom: 25px;
    }
    .dataTables_info {
        font-size: 12px;
    }
    .page-link{
        font-size: 12px;
    }
    
    @media only screen and (max-width: 760px) {
        .outer_table_container{
            overflow: auto;
        }
    }
</style>


<div style="background: #fff;box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);padding: 20px;border-radius: 5px;margin-top: 20px;">
    <p style="font-size: 20px; font-weight: bold;font-family: 'Montserrat', sans-serif">List of Bookings</p>
    <div style="overflow: auto;">
        <table id="airlinetable" class="table table-bordered" >
            <thead>

                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Customer</th>
                 
                  <th scope="col">Date </th>
                  <th scope="col">Status</th>
                  <th scope="col">Seats</th>
                  <th scope="col">Passengers</th>
                
                </tr>
              </thead>
              <tbody>
                {% for booking in bookings %}
               <tr style="color: red !important;">
                <td>{{ forloop.counter }}</td>
                    <td>{{ booking.customer.email }}</td>
                    <td>{{ booking.date_time }}</td>
                    <td>
                        {% if booking.status == 0 %}
                        <span style="color: #333;">Initiated</span>
                        {% elif booking.status == 1 %}
                        <span style="color: #31c931;">Paid</span>
                        {% elif booking.status == 2 %}
                        <span style="color: rgb(136, 41, 41);">Cancelled</span>
                        {% elif booking.status == 3 %}
                        <span style="color: rgb(87, 126, 218);">Refunded</span>
                        {% endif %}
                    <td>{{ booking.associated_passengers.all.count }}</td>
                    <td><a href="{% url 'passenger_details' booking.id %}"><i class="fas fa-eye" style="color: #333;"></i></a></td>
                   
               </tr>
        
                {% endfor %}
              </tbody>
             
            </table>
      
    </div>

    
</div>


 <!--jquery-->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
 <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"/>
 <script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
 <script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<script>
    
    let table = new DataTable('#airlinetable');
</script>

{% endblock content %}