{% extends "users/base.html" %}
{% load static %}
{% block content %}
<style>
    body{
        /* background-color: #eeedef; */
        background-color: #f4f3f3;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;

    }
    

    
    /*desktop and tablet*/
    @media only screen and (min-width: 761px) {
        #mybookings{
            margin-right: 25px;
        }
        #dashboard{
            margin-right: 25px;
        }
        #logout{
            margin-right: 30px;
        }

        #bottom_section{
        margin-left: 10%;
        margin-right: 10%;

        }
        .left_flight{
            
            float: left;
            
        }
        .right_flight{
           
            float: right;
            
        }
        .left_flight , .right_flight{
            width: 48%;
            background: #fff;
            padding:2% 4% 1% 4%;
            border-radius: 5px;
            margin: 20px 0px 20px 0px;
        }

        .flight_names{
            font-size: 12px;
        }

        .flight_number{
            margin-top: -18px;
        }

        .flight_icon{
            display: inline-block;
            width: 20%;
        }

        .departure{
            display: inline-block;
            width:25%;
        }

        .departure p, .arrival p, .price p{
            line-height: 10px;
        }

        
        .arrival{
            display: inline-block;
            width: 25%;
        }

        .price{
            display: inline-block;
            width: 18%;
         
        }
        .book_btn{
            margin-left: 2%;
            display: inline-block;
            width: 5%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    /* mobile phone*/
    @media only screen and (max-width: 760px) {
        #mybookings{
            margin-right: 35px;
        }
        .user_inp{
            margin-bottom: 15px;
        }
        #bottom_section{
        margin-left: 40px;
        margin-right: 40px;

        }
        .left_flight {
            width: 100%;
            background: #fff;
            padding:2% 4% 1% 4%;
            border-radius: 5px;
            margin: 20px 0px 20px 0px;
        }
        .right_flight{
            width: 100%;
            background: #fff;
            padding:2% 4% 1% 4%;
            border-radius: 5px;
            margin: 20px 0px 20px 0px;
        }
        .flight_icon{
            align-items: center;
            text-align: center;
        }
        .departure{
            display: inline-block;
            width: 40%;
        }
        .arrival{
           
            width: 40%;
            float: right;
        }
        .price_comp_1{
            display: inline-block;
        }
        .price_comp_3{
            display: inline-block;
        }
        .price_comp_2{
            display: inline-block;
        }
        .book_btn{
            margin-bottom: 10px;
        }
        #nav_parts{
            font-size: 11px;
            margin-top: 4px;
        }
        #dashboard{
            margin-right: 4px;
        }
        #mybookings{
            margin-right: 4px;
        }


       

       
        
    }

</style>
<div style="background-color: #eeedef; ">
    <div style="background-color: #fff;padding-top: 25px;padding-left: 35px; padding-right: 35px; width: 100%; padding-bottom: 40px;" id="top-bar">
        <img src="{% static 'images/logo.png' %}" height="20px" width="120px">
        <div style="float: right;" id="nav_parts" >
            {% if request.user.profile.is_admin %}
            <div id="dashboard" style="display: inline-block;">
                <a href="{% url 'dashboard_flights' %}" style="text-decoration: none; color: #000;font-weight: 500;">Dashboard</a>
            </div>
            {% endif %}
            <div id="mybookings" style="display: inline-block;">
                <a href="{% url 'my_bookings' %}" style="text-decoration: none; color: #000;font-weight: 500;" title="{{ request.user.email }}">My bookings</a>
            </div>
            <div id="logout" style="display: inline-block;">
                <a href="{% url 'logout' %}" style="text-decoration: none; color: #000;font-weight: 500;" title="{{ request.user.email }}">Logout</a>
            </div>
        </div>
        
        
        <div class="user_inputs" style="margin-top: 50px;" >
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2 col-sm-12 user_inp">
                    <label for="source">Source</label>
                    <select class="form-control" name="source" id="source" oninput="filter_display()">
                        <option value="default">----</option>
                        {% for airport in airports %}
                        <option value="{{ airport.code }}">{{ airport.code }} - {{ airport.location }}</option>
                        {% endfor %}
                </select>
                </div>
                <div class="col-md-2  col-sm-12 user_inp">
                    <label for="source">Destination</label>
                    <select class="form-control" name="destination" id="destination" oninput="filter_display()">
                        
                        <option value="default">----</option>
                        {% for airport in airports %}
                        <option value="{{ airport.code }}">{{ airport.code }} - {{ airport.location }}</option>
                        {% endfor %}
                </select>
                </div>
                <div class="col-md-2 col-sm-12 user_inp">
                    <label for="source">Seats</label>
                    <input type="number" class="form-control" name="seats" id="seats" value="1"  oninput="filter_display()"> 
                </div>
            
                <div class="col-md-2 col-sm-12 user_inp">
                    <label for="source">Departure</label>
                    <input type="date" class="form-control" name="departure_date" id="departure_date" oninput="filter_display()"> 
                </div>
                <div class="col-md-2"></div>



              
            </div>
        </div>
       
   
    </div><!--end of top bar-->
    
    <div id="bottom_section" style="margin-top: 50px;">
        <p style="font-size: 14px;text-align: center;display: none;"  id="no_flights">Sorry, no flights!</p>
        {% for flight in flights %}
        {% if not forloop.counter|divisibleby:2  %}
        <div class="left_flight flight_info" style="position: relative;display: none;" data-src="{{ flight.flight_det.source.code }}" data-dst="{{ flight.flight_det.destination.code }}"
         data-avl="{{ flight.seats }}" data-departure="{{ flight.flight_det.departure.date }}">
            <div class="flight_icon">
                <img src="{{ flight.flight_det.airlines.logo.url }}" height="40px" width="40px">
                <div class="flight_names">
                    <p>{{ flight.flight_det.airlines.name }}</p>
                    <p class="flight_number">{{ flight.flight_det.plane_number }}</p>
                </div>
            </div>
            <div class="departure" style="height: 100%;text-align: center;">
                <p class="departure_code" style="color: #828282;font-size: 11px;text-transform: uppercase;" >{{ flight.flight_det.departure.date }}</p>
                <p class="departure_time" style="font-weight:bold ;">{{ flight.flight_det.departure.time }}</p>
                <p class="departure_loc" style="color: #b1b1b1;font-size: 12px;">{{ flight.flight_det.source.location }}</p>
            </div>
            <div class="arrival" style="text-align: center;">
                <p class="arrival_code" style="color: #828282;font-size: 11px;text-transform: uppercase;" >{{ flight.flight_det.arrival.date }}</p>
                <p class="arrival_time" style="font-weight: bold;">{{ flight.flight_det.arrival.time }}</p>
                <p class="arrival_loc" style="color: #b1b1b1;font-size: 12px;"> {{ flight.flight_det.destination.location }}</p>
            </div>
            <div class="price" style="text-align: center;">
                <p style="color: #828282;font-size: 11px;text-transform: uppercase;" class="price_comp_1">Price</p>
                <p style="font-weight: bold;" class="price_comp_2">Rs.{{ flight.flight_det.fare }}</p>
                <p style="color: #b1b1b1;font-size: 12px;" class="price_comp_3">per seat</p>
            </div>
            <div class="book_btn" style="text-align: center;">
                <form id="form_{{ forloop.counter }}" method="POST" action="{% url 'book' %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{ flight.flight_det.id }}" style="display: none;" name="flight_id">
                   
                    <input type="hidden" style="display: none;" id="f_seats_{{ forloop.counter }}" name="f_seats">
                    <a onclick="submit_form({{ forloop.counter }})"><img src="{% static 'icons/book.svg' %}" height="25px" width="25px"></a>
                </form>
               
            </div>
            
        </div>
        {% else %}
                   
        <div class="right_flight flight_info" style="position: relative;display: none;"   data-src="{{ flight.flight_det.source.code }}" data-dst="{{ flight.flight_det.destination.code }}"
         data-avl="{{ flight.seats }}" data-departure="{{ flight.flight_det.departure.date }}" data-arrival="{{ flight.flight_det.arrival }}">
            <div class="flight_icon">
                <img src="{{ flight.flight_det.airlines.logo.url }}" height="40px" width="40px">
                <div class="flight_names">
                    <p>{{ flight.flight_det.airlines.name }}</p>
                    <p class="flight_number">{{ flight.flight_det.plane_number }}</p>
                </div>
                
            </div>
            <div class="departure" style="height: 100%;text-align: center;">
                <p class="departure_code" style="color: #828282;font-size: 11px;text-transform: uppercase;" >{{ flight.flight_det.departure.date }}</p>
                <p class="departure_time" style="font-weight:bold ;">{{ flight.flight_det.departure.time }}</p>
                <p class="departure_loc" style="color: #b1b1b1;font-size: 12px;">{{ flight.flight_det.source.location }}</p>
            </div>
            <div class="arrival" style="text-align: center;">
                <p class="arrival_code" style="color: #828282;font-size: 11px;text-transform: uppercase;" >{{ flight.flight_det.arrival.date }}</p>
                <p class="arrival_time" style="font-weight: bold;">{{ flight.flight_det.arrival.time }}</p>
                <p class="arrival_loc" style="color: #b1b1b1;font-size: 12px;"> {{ flight.flight_det.destination.location }}</p>
            </div>
            <div class="price" style="text-align: center;">
                <p style="color: #828282;font-size: 11px;text-transform: uppercase;" class="price_comp_1">Price</p>
                <p style="font-weight: bold;" class="price_comp_2">Rs.{{ flight.flight_det.fare }}</p>
                <p style="color: #b1b1b1;font-size: 12px;" class="price_comp_3">per seat</p>
            </div>
            <div class="book_btn" style="text-align: center;">
                <form id="form_{{ forloop.counter }}" method="POST" action="{% url 'book' %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{ flight.flight_det.id }}" style="display: none;" name="flight_id">
                   
                    <input type="hidden" style="display: none;" id="f_seats_{{ forloop.counter }}" name="f_seats">
                    <a onclick="submit_form({{ forloop.counter }})"><img src="{% static 'icons/book.svg' %}" height="25px" width="25px"></a>
                </form>
            </div>
            
        </div>
        {% endif %}
        {% endfor %}
        



        
        
    </div>
</div>
<div>
    
</div>
<script>
    window.addEventListener("load", (event) => {
        filter_flights("default","default","1")
    });

    function filter_display(){
        console.log("exec filter display")
        source=document.getElementById("source").value
        destination=document.getElementById("destination").value
        seats=document.getElementById("seats").value
        departure_date=document.getElementById("departure_date").value
        console.log("^^^^^"+departure_date)
        var user_date=new Date()
        if(departure_date && departure_date!=undefined){
            console.log("haaaaaaaaaaaan")
        var year=departure_date.substring(0,4)
        var month=departure_date.substring(5,7)
        var date_val=departure_date.substring(8,10)
        user_date = new Date (parseInt(year), parseInt(month)-1, parseInt(date_val));
        }
        else{
            console.log("noooooooooooooooo")
            user_date="default"
        }
        // console.log(user_date)
       
       
        

        filter_flights(source,destination,seats,user_date)
    }
    var toggler=0;
    function filter_flights(source,destination,seats,user_date){
        console.log("exec filter flight")
        flight_infos=document.getElementsByClassName('flight_info');
        for(var i=0;i<flight_infos.length;i++){
            flight_infos[i].style.display='none';
        }
        toggler=0
        document.getElementById("no_flights").style.display="none";

        for(var i=0;i<flight_infos.length;i++){
            if(flight_infos[i].getAttribute('data-src')==source || (source=="default")){
                if(flight_infos[i].getAttribute('data-dst')==destination || (destination=="default")){
                    if(flight_infos[i].getAttribute('data-avl')>=seats || seats=="1"){

                        console.log("outerrrrr")
                        // date logic
                        var curr_date=new Date(flight_infos[i].getAttribute('data-departure'))
                        console.log("comparing")
                       
                        if(user_date=="default" || user_date==undefined || Number(user_date) == Number(curr_date)){

                            console.log("iffffffffff")
                        if(toggler%2==0){
                            flight_infos[i].classList.remove("right_flight")
                            flight_infos[i].classList.add("left_flight")
                            flight_infos[i].style.display='block';
                            toggler+=1;
                        }
                        else{
                            flight_infos[i].classList.remove("left_flight")
                            flight_infos[i].classList.add("right_flight")
                            flight_infos[i].style.display='block';
                            toggler+=1;
                        }
                        
                        }
                        else{
                            console.log("elseeeeee")
                        }
                    }
                
                 }
            }

        }
        if(toggler==0){
            document.getElementById("no_flights").style.display="block";
        }

    }
</script>
<script>
    function submit_form(form_counter){
        // console.log(document.getElementById("seats").value)
        required_form_id=`form_${form_counter}`
        seats=document.getElementById("seats").value
        seats_id=`f_seats_${form_counter}`
        document.getElementById(seats_id).value=seats
        required_form=document.getElementById(required_form_id)
        required_form.submit();
    }
</script>


{% endblock content %}